<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="agrob">
    <xacro:include filename="$(find husky_description)/urdf/husky.urdf.xacro" />

    <xacro:macro name="agrob" params="prefix">

        <!-- vehicle model -->
        <xacro:husky prefix="${prefix}" />

    </xacro:macro>
</robot>
