<?xml version="1.0"?>
<launch>

  <!-- Load agrob model -->
  <arg name="robot_description" default="robot_description"/>

  <param name="$(arg robot_description)" command="$(find xacro)/xacro '$(find agrob_description)/urdf/agrob.urdf.xacro'" />

  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
  <!-- Publish agrob wheel tfs (visualization workaround) -->
  <node pkg="tf" type="static_transform_publisher" name="front_weel_left_tf" args="0.256 0.285 0.033 0 0 0 1 base_link front_left_wheel_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="front_weel_right_tf" args="0.256 -0.285 0.033 0 0 0 1 base_link front_right_wheel_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="rear_weel_left_tf" args="-0.256 0.285 0.033 0 0 0 1 base_link rear_left_wheel_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="rear_weel_right_tf" args="-0.256 -0.285 0.033 0 0 0 1 base_link rear_right_wheel_link 100" />
  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

</launch>
