<?xml version="1.0"?>
<launch>
    <arg name="bag" default="none"/>
    <arg name="rate" default="0.5"/>
    <arg name="bag_start" default="0"/>
    <arg name="bag_duration" default="5000.0"/>

    <!-- decompress image topics -->
    <node name="republish_left" type="republish" pkg="image_transport" output="screen"
      args="compressed in:=/zed/zed_node/left/image raw out:=/zed/zed_node/left/image" />
    <node name="republish_right" type="republish" pkg="image_transport" output="screen"
      args="compressed in:=/zed/zed_node/right/image raw out:=/zed/zed_node/right/image" />

    <param name="/use_sim_time" value="true"/>

    <node pkg="rosbag" type="play" name="rosbag_play" output="screen"
          args="$(arg bag) --clock -r $(arg rate) -l -s $(arg bag_start) -u $(arg bag_duration) /tf:=/tf_dev_null /tf_static:=/tf_static_dev_null"/>

    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <!-- Publish agrob wheel tfs (visualization workaround) -->
    <node pkg="tf" type="static_transform_publisher" name="front_weel_left_tf" args="0.256 0.285 0.033 0 0 0 1 base_link front_left_wheel_link 100" />
<!--    <node pkg="tf" type="static_transform_publisher" name="front_weel_right_tf" args="0.256 -0.285 0.033 0 0 0 1 base_link front_right_wheel_link 100" />-->
    <node pkg="tf" type="static_transform_publisher" name="rear_weel_left_tf" args="-0.256 0.285 0.033 0 0 0 1 base_link rear_left_wheel_link 100" />
<!--    <node pkg="tf" type="static_transform_publisher" name="rear_weel_right_tf" args="-0.256 -0.285 0.033 0 0 0 1 base_link rear_right_wheel_link 100" />-->
    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
</launch>
